.container {
  position: fixed;
  width: 100vw;
  min-height: 100vh;

  /* background: linear-gradient(0deg, #4169e1 30%, #f6fafd 0%); */

  z-index: 20;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

div {
  min-width: fit-content;
}
